@tailwind base;
@tailwind components;
@tailwind utilities;

#card {
  object-fit: cover;
  width: 17.5rem;
}

.card-grid,
.favorite {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 10px;
  justify-items: center;
}

